.help-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-site-bcg);
}
.help-text {
  margin-top: var(--dl-space-space-fourunits);
}
.help-fq {
  width: 1037px;
  height: fit-content;
  display: flex;
  align-self: center;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  margin-top: 56px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 56px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.help-a {
  line-height: 1.5;
}
.help-a1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.help-pos-table {
  width: 80%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: auto;
  border-color: rgba(84, 105, 115, 0.4);
  border-style: solid;
  border-width: 3px;
  margin-right: auto;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
}
.help-pos {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.help-meaning {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.help-q2 {
  text-transform: uppercase;
}
.help-q3 {
  text-transform: uppercase;
}
.help-a4 {
  text-align: left;
}
.help-text15 {
  text-transform: uppercase;
}
.help-text18 {
  text-transform: uppercase;
}
.help-text21 {
  text-transform: uppercase;
}
@media(max-width: 991px) {
  .help-fq {
    width: 80%;
    display: flex;
  }
}
@media(max-width: 479px) {
  .help-pos-table {
    width: 100%;
    justify-content: space-between;
  }
  .help-meaning {
    width: 85%;
  }
  .help-text07 {
    width: auto;
  }
}
