 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-group-1 {
  width: 1047px;
  background-image: none;
  min-height: 543px;
  height: auto;
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,0.3);
  margin: 55px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 89px 53px 0;
}

.u-section-1 .u-form-1 {
  height: 195px;
  width: 720px;
  margin: 93px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-1 .u-label-4 {
  letter-spacing: 0px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 25%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: 830px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 21%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    margin-top: -208px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -220px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0;
}