.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-site-bcg);
}
.home-container1 {
  width: 1037px;
  height: 408px;
  display: flex;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  margin-top: 56px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-site-lightbcg);
}
.home-text {
  width: 80%;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-search {
  width: 70%;
  height: 165px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container2 {
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.home-container3 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.home-by-text {
  margin-left: var(--dl-space-space-halfunit);
}
.home-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-by-formula {
  margin-left: var(--dl-space-space-halfunit);
}
.home-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-textinput {
  width: inherit;
  height: 50px;
}
.home-button {
  width: 93px;
  height: 37px;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-site-lightpp);
}
.home-button:hover {
  border: none;
  background-color: var(--dl-color-site-hoverbtn);
}
.home-button:active {
  border: none;
  background-color: var(--dl-color-site-activebtn);
}
.home-container6 {
  width: 80%;
  display: flex;
  margin-top: 150px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.home-text3 {
  text-align: left;
}
.home-text4 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .home-container1 {
    width: 80%;
    display: flex;
  }
  .home-container2 {
    width: 100%;
    align-self: center;
    justify-content: flex-start;
  }
  .home-container3 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-radiobutton {
    align-self: center;
    padding-right: var(--dl-space-space-twounits);
  }
}
