.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-site-bcg);
}
.home-container1 {
  width: 1037px;
  height: 408px;
  display: flex;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  margin-top: 56px;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-site-lightbcg);
}
.home-text {
  width: 80%;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.home-container6 {
  width: 80%;
  display: flex;
  margin-top: 150px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.home-text3 {
  text-align: left;
}
.home-text4 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .home-container1 {
    width: 80%;
    display: flex;
  }
  .home-container2 {
    width: 100%;
    align-self: center;
    justify-content: flex-start;
  }
  .home-container3 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-radiobutton {
    align-self: center;
    padding-right: var(--dl-space-space-twounits);
  }
}
