.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-site-lightbcg);
}
.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.login-text {
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.login-container2 {
  width: 35%;
  display: flex;
  box-shadow: 0px 0px 5px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.login-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-site-bcg);
}
.login-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-text1 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.login-textinput {
  width: 100%;
  border-width: 0px;
}
.login-text2 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.login-textinput1 {
  width: 100%;
  border-width: 0px;
}
.login-button {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  background-color: var(--dl-color-site-lightpp);
}
.login-button:hover {
  border: none;
  background-color: var(--dl-color-site-hoverbtn);
}
.login-button:active {
  border: none;
  background-color: var(--dl-color-site-activebtn);
}
.login-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-site-darkcyan);
  border-width: 5px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
@media(max-width: 991px) {
  .login-container2 {
    width: 80%;
  }
}
