.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-site-lightbcg);
}
.register-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.register-text {
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-twounits);
}
.register-container2 {
  width: 35%;
  display: flex;
  box-shadow: 0px 0px 5px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.register-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-site-bcg);
}
.register-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register-container5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.register-text1 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput {
  width: 100%;
  border-width: 0px;
}
.register-text2 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput1 {
  width: 100%;
  border-width: 0px;
}
.register-text3 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput2 {
  width: 100%;
  border-width: 0px;
}
.register-text4 {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.register-textinput3 {
  width: 100%;
  border-width: 0px;
}
.register-button {
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  background-color: var(--dl-color-site-lightpp);
}
@media(max-width: 1200px) {
  .register-button {
    margin-top: var(--dl-space-space-unit);
    background-color: var(--dl-color-site-lightpp);
  }
}
@media(max-width: 991px) {
  .register-container2 {
    width: 80%;
  }
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.alert-password {
  color: #db260d;
  margin-top: 8px;
}