.result-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-site-bcg);
}
.result-container01 {
  width: 80%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  align-items: stretch;
  border-color: var(--dl-color-site-darkgray);
  border-style: dashed;
  border-width: 1px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.result-text {
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  margin-right: var(--dl-space-space-unit);
}
.result-textinput {
  width: 80%;
  margin-top: 0px;
  border-color: var(--dl-color-site-darkgray);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  background-color: var(--dl-color-site-lightbcg);
}
.result-button {
  width: 10%;
  display: flex;
  padding: 0.5rem;
  transition: 0.3s;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-site-lightpp);
}
.result-button:hover {
  background: #A090C4;
}
.result-button:active {
  background: #BA7FC1;
}
.result-icon {
  width: 24px;
  height: 24px;
}
.result-container02 {
  width: 80%;
  display: flex;
  align-self: center;
  margin-top: 20px;
  align-items: flex-start;
  flex-direction: column;
}
.result-text03 {
  display: none;
  font-style: normal;
  font-weight: 600;
}
.result-container03 {
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: row;
}
.result-text04 {
  font-style: normal;
  font-weight: 500;
}
.result-icon02 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-twounits);
}
.result-row1 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
}
.result-names {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.result-container-nf {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: flex-end;
}
.result-text05 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
}
.result-container-pos {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.result-text06 {
  font-size: 1.5em;
  align-self: center;
  font-style: normal;
  font-weight: 600;
}
.result-col1 {
  flex: 0 0 auto;
  width: fit-content;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.result-container-nf-query {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-site-darkgray);
  border-style: dashed;
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  justify-content: center;
}
.result-text07 {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.result-container-pos-query {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  justify-content: center;
}
.result-text08 {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
}
.result-container-example{
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-site-lightbcg);
  min-height: 50vh;
}
.result-text-example-n {
  width: 80%;
  align-self: center;
  font-style: normal;
  font-weight: 500;
}
.result-container-list-examples {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-500);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.result-container-sent-bubble{
  flex: 0 0 auto;
  width: 90%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.result-text-sent {
  width: 95%;
  line-height: 1.5;
  padding-right: var(--dl-space-space-unit);
}
.result-container-sent-icons {
  display: flex;
  align-items: flex-start;
  width: 80px;
}
.result-icon05 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.result-icon07 {
  width: 24px;
  height: 24px;
}
.result-container12 {
  flex: 0 0 auto;
  width: 90%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.result-text11 {
  width: 95%;
  line-height: 1.5;
  padding-right: var(--dl-space-space-unit);
}
.result-container13 {
  display: flex;
  align-items: flex-start;
}
.result-icon09 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.result-icon11 {
  width: 24px;
  height: 24px;
}
.result-container14 {
  flex: 0 0 auto;
  width: 90%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.result-text12 {
  width: 95%;
  line-height: 1.5;
  padding-right: var(--dl-space-space-unit);
}
.result-container15 {
  display: flex;
  align-items: flex-start;
}
.result-icon13 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.result-icon15 {
  width: 24px;
  height: 24px;
}
.result-container16 {
  flex: 0 0 auto;
  width: 90%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.result-text13 {
  width: 95%;
  line-height: 1.5;
  padding-right: var(--dl-space-space-unit);
}
.result-container17 {
  display: flex;
  align-items: flex-start;
}
.result-icon17 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.result-icon19 {
  width: 24px;
  height: 24px;
}
.result-container18 {
  flex: 0 0 auto;
  width: 90%;
  height: fit-content;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.result-text14 {
  width: 95%;
  line-height: 1.5;
  padding-right: var(--dl-space-space-unit);
}
.result-container19 {
  display: flex;
  align-items: flex-start;
}
.result-icon21 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.result-icon23 {
  width: 24px;
  height: 24px;
}
@media(max-width: 479px) {
  .result-icon {
    width: 100%;
    height: auto;
    align-self: center;
  }
}
.result-icon02:hover {
    cursor:pointer;
}
/* Tooltip */
.tooltip {
  position: relative;
  cursor: help;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.tooltip::before {
  content: attr(data-tooltip);
  z-index: 2;
  width: auto;
  color: #fff;
  background: rgba(0,0,0, .7);
  border-radius: 5px;
  padding: 5px;
}

.tooltip::after {
  content: "";
  width: 0;
  height: 0;
}

.tooltip--top::before,
.tooltip--top::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 15px;
}

.tooltip--top::after {
  margin-bottom: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid rgba(0,0,0, .7);
}

.tooltip--bottom::before,
.tooltip--bottom::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 14px;
}

.tooltip--bottom::after {
  margin-top: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid rgba(0,0,0, .7);
}

.tooltip--right::before,
.tooltip--right::after {
  top: 50%;
  left: 100%;
  transform: translate(0, -50%);
  margin-left: 15px;
}

.tooltip--right::after {
  margin-left: 8px;
  border-top: 5px solid transparent;
  border-right: 7px solid rgba(0,0,0, .7);
  border-bottom: 5px solid transparent;
}

.tooltip--left::before,
.tooltip--left::after {
  top: 50%;
  right: 100%;
  transform: translate(0, -50%);
  margin-right: 15px;
}

.tooltip--left::after {
  margin-right: 8px;
  border-top: 5px solid transparent;
  border-left: 7px solid rgba(0,0,0, .7);
  border-bottom: 5px solid transparent;
}
.pink {
color: #B949D4;
}
.green {
color: #629797;
}
.black {
color: #424242;
}
.context {
    display:none;
}
.context-btn {
    margin-right: var(--dl-space-space-oneandhalfunits);
}
.context-btn:hover {
    cursor:pointer;
    width: fit-content;
}
.text-in-bubble {
    margin: 0;
}
.show {
    display: inline;
}
/* from index.html */
.search-container-radios {
  display: flex;
  position: relative;
  align-items: start;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.search-container-radio {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.radio-text {
    width: max-content;
    padding-left: 10px;
}
.black {
  color: #000000;
}
.pink {
  color: #ce3fbf;
}
.green {
  color: #28b9b9;
}