{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/css/account.css" media="screen">
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-885c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
          <ul class="u-border-10 u-border-custom-color-2 u-tab-list u-unstyled" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-active-custom-color-4 u-border-active-black u-border-hover-custom-color-2 u-button-style u-custom-color-1 u-hover-custom-color-4 u-radius-10 u-tab-link u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true" data-ru="История поиска" data-en="Search history"></a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-custom-color-4 u-border-active-black u-border-hover-custom-color-2 u-button-style u-custom-color-1 u-hover-custom-color-4 u-radius-10 u-tab-link u-tab-link-2" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false" data-ru="Избранное" data-en="Starred"></a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-custom-color-4 u-border-active-black u-border-hover-custom-color-2 u-button-style u-custom-color-1 u-hover-custom-color-4 u-radius-10 u-tab-link u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false" data-ru="Самопроверка" data-en="Test yourself"></a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-active-custom-color-4 u-border-active-black u-border-hover-custom-color-2 u-button-style u-custom-color-1 u-hover-custom-color-4 u-radius-10 u-tab-link u-tab-link-4" id="link-tab-35cd" href="#tab-35cd" role="tab" aria-controls="tab-35cd" aria-selected="false" data-ru="Настройки" data-en="Settings"><br>
              </a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
              <div class="u-container-layout u-container-layout-1">
                <h3 class="u-text u-text-default u-text-1" data-ru="История" data-en="History"></h3>
                <div class="u-expanded-width u-table u-table-responsive u-table-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="95.72%">
                      <col width="4.28%">
                    </colgroup>
                    <tbody class="u-table-body u-table-body-1">
                      <tr style="height: 65px;">
                        <td class="u-first-column u-table-cell">равно</td>
                        <td class="u-table-cell">
                          <a class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-1" href="">★</a>
                        </td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">тождество</td>
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-table-cell">
                          <a class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2" href="">★</a>
                        </td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">сумма</td>
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-table-cell">
                          <a class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-3" href="">★</a>
                        </td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">в степени</td>
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-table-cell">
                          <a class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-4" href="">★</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
              <div class="u-container-layout u-container-layout-2">
                <p class="u-text u-text-default u-text-2" data-ru="Добавляйте запросы в избранное, чтобы не потерять." data-en="Star the search to keep it in history"></p>
                <h3 class="u-text u-text-default u-text-3" data-ru="Избранные запросы" data-en="Starred"></h3>
                <div class="u-expanded-width u-table u-table-responsive u-table-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="100%">
                    </colgroup>
                    <tbody class="u-table-body">
                      <tr style="height: 65px;">
                        <td class="u-first-column u-table-cell">в степени</td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">куб</td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">три третьих</td>
                      </tr>
                      <tr style="height: 65px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">степень</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
              <div class="u-container-layout u-container-layout-3">
                <p class="u-text u-text-default u-text-4" data-ru="Здесь вы можете пройти тесты по словам и конструкциям, которые вы добавили в избранное." data-en="You can challenge yourself here and check construction knowledge."></p>
                <h3 class="u-text u-text-default u-text-5" data-ru="Ваши избранные запросы" data-en="You starred searches"></h3>
                <div class="u-table u-table-responsive u-table-3">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="80.7%">
                      <col width="19.3%">
                    </colgroup>
                    <tbody class="u-table-body">
                      <tr style="height: 50px;">
                        <td class="u-first-column u-table-cell">в степени</td>
                        <td class="u-table-cell">
                          <a class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-5" href="" data-ru="проверить" data-en="check"></a>
                        </td>
                      </tr>
                      <tr style="height: 60px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">куб</td>
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-table-cell">
                          <a class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-6" href="" data-ru="проверить" data-en="check"></a>
                        </td>
                      </tr>
                      <tr style="height: 53px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">три третьих</td>
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-table-cell">
                          <a class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-7" href="" data-ru="проверить" data-en="check"></a>
                        </td>
                      </tr>
                      <tr style="height: 53px;">
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-first-column u-table-cell">степень</td>
                        <td class="u-border-1 u-border-grey-15 u-border-no-left u-border-no-right u-table-cell">
                          <a class="u-border-none u-btn u-button-style u-custom-color-1 u-hover-custom-color-2 u-btn-8" href="" data-ru="проверить" data-en="check"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-4" id="tab-35cd" role="tabpanel" aria-labelledby="link-tab-35cd">
              <div class="u-container-layout u-container-layout-4">
                <h4 class="u-text u-text-default u-text-6" data-ru="Имя" data-en="Login"></h4>
                <p class="u-text u-text-default u-text-7">{{ login }}</p>
                <a href="" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-9" data-ru="Сменить имя" data-en="Change login"></a>
                <h4 class="u-text u-text-default u-text-8" data-ru="Почта" data-en="Email"></h4>
                <p class="u-text u-text-default u-text-9">{{ email }}</p>
                <a href="" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-10" data-ru="Сменить почту" data-en="Change email"></a>
                <h4 class="u-text u-text-default u-text-10" data-ru="Пароль" data-en="Password"></h4>
                <a href="" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-11" data-ru="Сменить пароль" data-en="Change password"></a>
                <a href="" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base u-btn-12" data-ru="Восстановить пароль" data-en="Remember password"></a>
                <a href="/logout_{{ main_lan }}" class="u-border-2 u-border-grey-50 u-border-hover-custom-color-2 u-btn u-btn-round u-button-style u-hover-custom-color-1 u-none u-radius-7 u-btn-13" data-ru="выход" data-en="logout"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}