{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/css/dictionary.css" media="screen">
    <section class="u-clearfix u-custom-color-4 u-section-1" id="sec-81e0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-group u-label-none">
              <label for="message-90bf" class="u-label">Сообщение</label>
              <input rows="1" cols="50" id="message-90bf" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-7 u-white" required="required" type="text">
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-none">
              <a href="#" class="u-active-custom-color-6 u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-5 u-radius-8 u-btn-1">Search</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
            <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="90bafe7173d70ff7ef8fcd6e6ffc4d21">
          </form>
        </div>
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: left;">
            <span style="font-size: 1.875rem;">Full dictionary</span>
          </h1>
        </div>
        <div class="fr-view u-clearfix u-rich-text u-text u-text-2">
          <h1 style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">
              <br>
            </span>
          </h1>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase;">
              <span style="font-weight: 700;">Alphabet</span>
            </span>
          </p>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">Numerals</span>
          </p>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">
              <br>
            </span>
          </p>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">
              <br>
            </span>
          </p>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">
              <br>
            </span>
          </p>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">
              <br>
            </span>
          </p>
          <p style="text-align: left; line-height: 1;">
            <span style="text-transform: uppercase; font-weight: 700;">Functions</span>
          </p>
          <p style="text-align: left;">
            <br>
          </p>
        </div>
        <p class="u-text u-text-custom-color-2 u-text-3"> proper fraction<span style="font-weight: 700;">
            <br>
          </span>
          <br>improper fraction<br>
          <br>mixed fraction<br>
          <br>Decimal Fraction
        </p>
        <div class="u-border-1 u-border-palette-5-base u-container-style u-group u-radius-8 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-align-center u-container-style u-custom-color-1 u-expanded-width u-group u-shape-round u-top-left-radius-8 u-top-right-radius-8 u-group-2">
              <div class="u-container-layout">
                <p class="u-text u-text-4">1,5<span style="font-weight: 700;">
                    <span class="u-text-custom-color-2"></span>
                  </span>
                </p>
              </div>
            </div>
            <p class="u-text u-text-default u-text-5">
              одна целая пять десятых <a style="padding: 5px; height: 15px;" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2"><img src="static/images/speaker.png" width="auto" height="15px"></a>,
              полтора <a style="padding: 5px; height: 15px;" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2"><img src="static/images/speaker.png" width="auto" height="15px"></a>,
              один и пять <a style="padding: 5px; height: 15px;" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2"><img src="static/images/speaker.png" width="auto" height="15px"></a>,
              один точка пять <a style="padding: 5px; height: 15px;" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2"><img src="static/images/speaker.png" width="auto" height="15px"></a>,
              один запятая пять <a style="padding: 5px; height: 15px;" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2"><img src="static/images/speaker.png" width="auto" height="15px"></a>,
              один с половиной <a style="padding: 5px; height: 15px;" class="u-border-none u-btn u-button-link u-button-style u-none u-text-active-custom-color-5 u-text-hover-custom-color-6 u-text-palette-3-base u-btn-2"><img src="static/images/speaker.png" width="auto" height="15px"></a></p>
            <p class="u-text u-text-default u-text-6">— полтора</p>
            <div class="u-table u-table-responsive u-table-1">
              <table class="u-table-entity">
                <colgroup>
                  <col width="19.35%">
                  <col width="39.73%">
                  <col width="40.92%">
                </colgroup>
                <thead class="u-table-header u-table-header-1">
                  <tr style="height: 26px;">
                    <th class="u-border-1 u-border-grey-dark-1 u-table-cell"></th>
                    <th class="u-border-1 u-border-grey-dark-1 u-table-cell">Мужской и средний роды</th>
                    <th class="u-border-1 u-border-grey-dark-1 u-table-cell">Женский род</th>
                  </tr>
                </thead>
                <tbody class="u-table-body u-table-body-1">
                  <tr style="height: 26px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-custom-color-4 u-first-column u-table-cell u-table-cell-4">Им.п.</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полтор​а́</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полторы́</td>
                  </tr>
                  <tr style="height: 26px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-custom-color-4 u-first-column u-table-cell u-table-cell-7">Род.т.<br>
                    </td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                  </tr>
                  <tr style="height: 26px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-custom-color-4 u-first-column u-table-cell u-table-cell-10">Дат.п.</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                  </tr>
                  <tr style="height: 26px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-custom-color-4 u-first-column u-table-cell u-table-cell-13">Вин.п.</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полтор​а́</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полторы́</td>
                  </tr>
                  <tr style="height: 26px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-custom-color-4 u-first-column u-table-cell u-table-cell-16">Твор.п.</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                  </tr>
                  <tr style="height: 25px;">
                    <td class="u-border-1 u-border-grey-dark-1 u-custom-color-4 u-first-column u-table-cell u-table-cell-19">Предл.п.</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-20">полу́тора</td>
                    <td class="u-border-1 u-border-grey-dark-1 u-table-cell">полу́тора</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p class="u-text u-text-default u-text-7">Примеры:<br>x = 1,5y : <span style="font-style: italic;">икс в полтора раза больше игрека<span style="font-style: normal;">;</span> игрек в полтора раза меньше икса
              </span>
              <br>до 1,5 : <span style="font-style: italic;">до полутора</span>
            </p>
          </div>
        </div>
      </div>
    </section>
<script type = "text/javascript">
    function makeSound(){
        if(window.speechSynthesis !== undefined){
            console.log('Чтение речи поддерживается в данном браузере');
        }else{
            console.log('Чтение речи не поддерживается в данном браузере');
        }
        var synth = window.speechSynthesis,
            message = new SpeechSynthesisUtterance();
        message.lang = 'ru-RU';
        message.pitch = 0.8;
        message.text = '{{query}}';
        synth.speak(message);
        }
    </script>
{% endblock %}